*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: 'Titillium Web', sans-serif;
}



/* Variables */
:root {
   --color-main: white;
   --color-secondary: #e7e7e7;

   --color-font-primary: #404A51;
   --color-font-secondary: #535353;
   
   --font-size-large: 15px;
   --font-size-medium: 10px;

   --transition-basic: all 0.3s ease-in-out;
}



/* === Tags elements === */
body {
   background-color: var(--color-secondary);
}

h1 {
   padding-left: 30px;
   color: var(--color-font-secondarys);
}

main {
   margin: 10px;

   display: grid;
   grid-template-columns: repeat(1, minmax(300px, 400px));
   grid-auto-columns: minmax(300px, 400px);
   grid-auto-flow: row;
   gap: 25px;
   justify-content: center;
   justify-items: center;
   align-content: center;
}

input, 
button  {
   height: 40px;
   border: var(--color-font-primary) 2px solid;
   border-radius: 8px;
   padding: 5px;
   font-weight: 800;
   transition: var(--transition-basic);
}

button {
   width: 10%;
   max-width: 240px;
   min-width: 60px;
   margin-left: 5px;
   cursor: pointer;
}

button:hover,
button:focus  {
   background-color: lightslategray;
   color:var(--color-secondary);
}

input:hover,
input:focus {
   background-color: lightblue;
}

a {
   color: var(--color-font-primary);
   text-decoration: none;
}


/* === Sections === */
.search-container {
   display: flex;
   justify-content: center;
   padding: 10px 20px;
}

#look-up-value {
   width: 65%;
   max-width: 620px;
   min-width: 150px;
}

.card {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   width: 100%;
   min-height: 180px;

   padding: 10px;

   background-color: aqua;
   border: 2px solid lightslategray;
   border-radius: 5px;

   background-color: var(--color-main);
   box-shadow: lightgray 2px 2px 2px ;
   transition: var(--transition-basic);
}

.card:hover {
   transform: scale(1.05);
}

.avatar {
   width: 75px;
   height: 75px;
   margin: 10px 5px;
   border-radius: 50%;
   transition: var(--transition-basic);
}

.avatar:hover {
   transform: scale(1.2);
   border-radius: 20px;
}

.info-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 10px;
}

.info-container p {
   color: var(--color-font-secondary);
   font-weight: 400;
   padding: 0.15rem;
}

.name {
   color: var(--color-font-primary);
}

.email {
   word-break: break-word;
   overflow: hidden;
}



/* Overlay */
.overlay {
   display: flex;
   flex-direction: column;
   position: fixed;

   background: transparent;
   justify-content: center;
   inset: 0;
   z-index: 100;
   text-align: center;
   transition: all 0.3s ease-in;
 }

 .modal {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 250px;
   height: 450px;
   background-color: var(--color-main);
   border: 1px solid lightgrey;
   border-radius: 15px;
   padding: 10px;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 5px 5px 10px lightgray; 
}

 
.btn-previous,
.btn-next {
   position: absolute;
   top: 225px;
   z-index: 100;

   font-size: 25px;
   font-weight: 600;
   color: lightslategray;

   cursor: pointer;
   transition: var(--transition-basic);
}

.btn-previous {
   left: 10px
}

.btn-next {
   content: ">";
   right: 10px;
}

.btn-close {
   position: absolute;
   top: 15px;
   right: 15px;
   cursor: pointer;
   color: lightslategray;
   font-weight: 600;
   background-color: transparent;
   border: 0px;
   
   transition: var(--transition);
}

.btn-close:hover {
   font-weight: 800;
}

.modal-container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.modal-container .avatar {
   width: 150px;
   height: 150px;
   margin-bottom: 20px;
} 

.modal-container p {
   margin: 5px;
}

.text-container {
   width: 100%;
}

hr {
   margin: 10px 0;
}

/* === Global Styles=== */
.hidden {
   display: none;
}


/* === Media Queries === */
@media screen and (min-width: 768px) {
   main {
      grid-template-columns: repeat(2, minmax(300px, 400px));

   }

   .card {
      flex-direction: row;  
   
   }
   
   .info-container {
      flex-wrap: wrap;
      align-items: flex-start;
      padding-left: 10px;
   }

   .modal {
      width: 400px;
   }


   .avatar {
      width: 100px;
      height: 100px;
      margin: 10px;
   }
}

@media screen and (min-width: 1200px) {
   main {
      grid-template-columns: repeat(3, minmax(300px, 400px));

   }
}
